# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

<B>Objectives</B>
- Popular languages that Data Scientists use.
- Commonly used libraries used by Data Scientists.
- Three development environment open source tools used in data science.
- Evaluating arithmetic expressions in Python

<B>Some of the popular languages that Data Scientists use are:</B>
1. Python
2. R
3. Julia
4. SAS
5. MATLAB

<B>Some of the commonly used libraries used by Data Scientists include:</B>
1. Python : NumPy, Matplotlib, Pandas, Seaborn, SciPy, Scikit-learn, TensorFlow, PyTorch, Plotly, etc.
2. R      : ggplot2, dplyr, caret, shiny, data.table, xgboost, etc.
3. Julia  : DataFrames.jl, Plots.jl, StatsBase.jl, MLJ.jl, Flux.jl.

<B>Three development environment open source tools used in data science:</B><be>

|<B>Data Science Tools</B>|
|-------------------------|
|Jupyter Notebook|
|RStudio|
|Apache Zeppelin|

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [3]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [2]:
hours = 200//60
minutes = 200%60
print
print("Hours : ",hours," and Minutes : ",minutes)

Hours :  3  and Minutes :  20

## Author 
Nilakantha Sahoo